body{
	background-color: $one;
	color: white;
	font-family: 'HelveticaNeue', $base-font-family;
    font-size: 0.9rem;
    font-weight: 300;
    text-rendering: geometricPrecision;
}
h1,h2,h3,h4,h5{
	font-family: 'HelveticaNeue', $base-font-family;
    font-weight: 900;
    color: $cus_white;
}
img{
	width: 100%;
	height: auto;
}
a{
	&:focus{
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
*::-moz-selection{
	color: $cus_gray;
	background-color: $two;
	text-shadow: none;
} 
*::selection{
	color: $cus_gray;
	background-color: $two;
	text-shadow: none;
}
.icon{
	font-size: 1.2rem;
	vertical-align: middle;
}
/* top bar sorting buttons effects start*/

.btn.btn-primary{
	border: none;
	border-bottom: 5px solid $dark_red;
	font-family: 'HelveticaNeue';
	font-weight: 900;
    &:focus, &:hover{
        color: $cus_white_2;
    	border-color: $yellow;
    }
    &.active, &:active{
        color: $cus_white_2;
        background: darken($primary-color-dark, 4%);
    	border-color: $yellow;
    }
}

/* top bar sorting buttons effects end*/
.h{
	height: 100%;
}
.site_wrap{
	overflow-x: hidden;
	background: $one;
}
.main, .single_post_main{
    padding: 1rem;
    padding-top: 62px;
	min-height: calc(100vh - 167px);
}
.single_post_main{
    &__inner{
        margin-top: 2rem;
    }
}
.main__inner{
    @extend .single_post_main__inner;
}
/*game types block start*/
.game_types_cnt{
	.btn_game_type{
		margin: 0.5rem 0;
		margin-top: 0.7rem;
		&:nth-of-type(1){
			z-index: 100;
		}
		&:nth-of-type(2){
			z-index: 90;
		}
		&:nth-of-type(3){
			z-index: 80;
		}
	}
	.sorting_btn_cnt{
		display: inline-block;
		white-space: nowrap;
	}	
}
.sorting_type{
	.sort_new, .sort_popular{
		margin: 0.5rem 0;
    	margin-top: 0.7rem;
	}
}
.loading_btn{
	color: transparent !important;
    min-height: .8rem;
    pointer-events: none;
	&::before{
		@extend .loading::after;
	}
}
/*game types block end*/
.games_cnt{
    min-height: 629px;
	position: relative;
	z-index: 160;
}
.index_game{
	margin: 0.4rem 0;
	&__inner{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column nowrap;
		flex-flow: column nowrap; 
		position: relative;
		background-color: $one;
		border-radius: $unit-o;
		&:hover img{
			transform: scale(1.1);
		}
	}
	&__heading{
		padding: 0 0.5rem;
		margin-top: 0.5rem;
		margin-bottom: 0.2rem;
		position: absolute;
		left: 3px;
		bottom: 3px;
		a{
			color: $cus_white;
		  	&:hover{
		    	color: $red;
		  	}
		}
	}
	&__info{
		padding: 0 0.5rem;
	}
	&__excerpt{
		padding: 0 0.5rem 2rem 0.5rem;
		p{
			margin: 0;
			margin-bottom: 0.3rem;
		}
	}
}
.new_bage{
	font-size:  14px;
	font-family: $base-font-family;
	font-weight: bolder;
	line-height: 12px;
	background-color: rgba($two, .7);
    color: black;
    text-transform: uppercase;
    padding: 0.3rem;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
    text-align: center;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
	border-bottom-right-radius: $unit-o;
}
/* front page thumb start*/
.thumbnail_cnt{
	margin: 0;
	overflow: hidden;
	position: relative;
	&__game_views{
		position: absolute;
		right: 0px;
		padding: 0.3rem;
		top: 0;
		z-index: 100;
		font-size: 15px;
		font-weight: bold;
		color: $cus_white;
		background-color: rgba(0,0,0,.7);
		text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
		border-top-right-radius: $unit-o;
        border-bottom-left-radius: $unit-o;
        backdrop-filter: blur(8px);
		.icon{
			width: 25px;
			height: 25px;
			display: inline-block;
		}
	}
	&__inner{
		overflow: hidden; 
		border-radius: $unit-o;
	}
	img{
		display: block;
		width: 100%;
		height: auto;
        border-radius: $unit-o;
        transform: scale(1);
		transition: transform .2s ease-in-out;
	}
	&__link{
		position: relative;
		height: 0;
		padding-bottom: 100%;
		display: block;
		overflow: hidden;
		background-color: lighten($one, 1);
		&--related{
			padding-bottom: 100%;
		}
	}
	&--related{
		border-radius: $unit-o;
		&:hover img{
			transform: scale(1.1);
		}
	}
	.game_info{
		position: absolute;
		right: -1px;
		left: -1px;
		bottom: -1px;
		z-index: 200;
		background-color: rgba(black, 0.5);
		transform: translateY(100%);
		transition: transform 0.2s $timing_f; 
		backdrop-filter: blur(8px);
		.card{
			&__header{
				margin: 0;
				padding: 0.4rem;
				>a{
					color: $cus_white;
					&:visited{
						color:#fe7f8c;
					}
				}
			}
		}
	}
}
.thumbnail_cnt:hover .game_info{
	transform: translateY(0);
}
.index_game{
	transform: translateZ(0);
	&__inner{
		&:hover img{
			-webkit-filter: opacity(1);
			filter: opacity(1);
		}
	}
}
.pad_outer{
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	transform: translateZ(0);
	&--offset{
		top: 26px;
	}
}
.pad{
	background-color: $cus_gray;
	border-radius: 50%;
	width: 41px;
	height: 41px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 3px solid $three;
	-webkit-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.41);
	box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.41);
	margin: 1px;
	&--type{
		width: 40px;
		height: 40px;
	}
	.icon{
		display: block;
	}
	a{
		text-decoration: none;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
    	align-items: center;
	}
}
	
/* front page thumb end*/

/* front page game loader start*/

.loader_overlay{
	position: absolute;
	top: 0;
	right: $unit-2;
	left: $unit-2;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgba(darken($one, 3), 0.9);
	z-index: 100;
	opacity: 1;
	-webkit-transition: opacity 0.5s $timing_f;
	-o-transition: opacity 0.5s $timing_f;
	transition: opacity 0.5s $timing_f;
}
.hidden_loader{
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
/* front page game loader end*/

/* pagination start*/
.pagination_links{
	position: relative;
	padding: 2rem 0;
	.next_post_link{
		position: absolute;
		right: 0;
	}
	.previous_post_link{
		position: absolute;
	}
	&--numbered{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		.page-numbers:not(.dots){
			transition: background .2s, border .2s, box-shadow .2s, color .2s, -webkit-box-shadow .2s;
			margin: 0.2rem;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			width: 40px;
			height: 40px;
			border-radius: $unit-o;
			background-color: $red;
			font-weight: 900;
		    font-style: normal;
		    border-color: $primary-color-dark;
            border-bottom: 5px solid $dark_red;
            color: $cus_white;
		    &:focus,
		    &:hover {
		      background: darken($primary-color-dark, 2%);
		      border-color: $yellow;
		      color: $cus_white_2;
		    }
		    &:focus{
		    	-webkit-box-shadow: 0 0 0 0.1rem rgba(254,76,94,0.2);
		    	box-shadow: 0 0 0 0.1rem rgba(254,76,94,0.2);
		    }
		    &:active,
		    &.current {
                background: darken($dark_red, 12);
                border-color: $dark_yellow;
                color: $cus_white_2;
                text-decoration: underline;
		    }
		}
		.page-numbers.dots{
			border-radius: $unit-o;
			margin: 0.2rem;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			width: 40px;
			height: 40px;
            background-color: darken($dark_red, 12);
            font-weight: 900;
		}
	}
}
/*pagination end*/

/*single page/post start*/
.single_post_cnt{
	line-height: 1.7;
}
.iframe_wrapper{
	padding: 2rem 0;
	padding-top: 0.5rem;
	&__game{
		position: relative;
		height: 0;
		overflow: hidden;
		padding-bottom: 56.25%;
		>iframe{
			width: 1px;
    		min-width: 100%;
    		height: 100%;
    		margin-bottom: 0;
    		position: absolute;
    		top: 0;
    		left: 0;
    		right: 0;
    		bottom: 0;
		}
	}
}
.related{
	padding: 1rem 0 2rem 0;
	.related_title{
		font-weight: 100;
	}
}
.single_post{
	&__info{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
	}
	.game_description{
		position: relative;
	}
}
.game_types_cnt_single{
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	height: 100%;
	border-radius: $unit-o;
	margin: 0.5rem 0;
	margin-right: 0.5rem;
	height: 100%;
	&__inner{
		padding: 0.3rem;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		a{
			text-decoration: none;
			color: white;
		}
	}
}
.single_views{
	.game_types_cnt_single__inner{
		>span{
			margin: 0.2rem;	
		}
	}
}
.single_post_type_icon{
	margin: 0.2rem;
	width: auto;
	height: 30px;
}
/* Want to publish your game start*/
.hidden_form_inf{
	visibility: hidden;
}
.game_success{
	color: white;
}
.game_error{
	color: $error-color;
}
.form_image{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.text-center{
	text-align: center;
}
.input-group .input-group-addon{
	color: #4A4A4A;
}
/* game suggest page start*/
.form_image{
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	>img{
		max-width: 300px;
	}
}
/* game suggest page end*/

/* page 404 start*/
.page_404{
	padding-top: 4rem;
	&__image_cnt{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		>img{
			max-width: 400px;
		}
	}
}
/* page 404 end*/

/* search start*/
.search_active{
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow-y: scroll !important;
}
.search_active .overflow-search{
    -webkit-filter: blur(8px);
	filter: blur(8px);
}

.search_block{
	background-color: rgba(black, 0.75);
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	overflow-x: hidden;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 900;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	&__close_search_cnt{
		position: absolute;
		top: 40px;
		right: 40px;
	}
	&__inner{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column nowrap;
		flex-flow: column nowrap;
	}
}
.search_block_img{
	width: 100%;
	max-width: 300px;
	height: auto;
	display: block;
	margin-bottom: 1rem;

}
.search, .search_block{
	.input-group .input-group-addon{
		background-color: $cus_gray;
	}
}
.hidden_search{
 	opacity: 0;
 	visibility: hidden;
 	pointer-events: none;
}
.search_face{
	margin-top: 2rem;
	>img{
		width: 200px;
	}
}
.search_header_cnt{
	margin: 1rem 0;
	margin-top: 0.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	&__item{
		margin: 0;
		padding: 0.5rem 0;
	}
	h1{
		padding-right: 1rem;
	}
	.search_query{
		color: $three;
	}
}
.nothing_found{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
}
.choose_search_cat > label{
	white-space: nowrap;
} 
/* search end*/

/* archive start*/
.separator{
	width: 50%;
	height: 4px;
	border-radius: 2px;
	background-color: $two;
	margin: 1.5rem 0 1rem 0;
}
/* archive end*/

.btn.btn-primary.secondary_btn{
    color: $cus_white;
    background-color: $two;
    border-color: $yellow;
    &:hover, &:focus{
        background-color: $three;
        color: $cus_white_2;
        border-color: $red;
    }
    &.active, &:active{
        background: $three;
        color: $cus_white_2;
    	border-color: $red;
    }
}
.adblock_notice{
	max-height: 400px;
	overflow: hidden;
	-webkit-transition: max-height 0.5s $timing_f;
	-o-transition: max-height 0.5s $timing_f;
	transition: max-height 0.5s $timing_f;
	h4{
		display: inline-block;
		margin: 0;
	}
}
@-webkit-keyframes loading {
	from { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading {
	from { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
/* Want to publish your game end*/

/*single page/post end*/
@media screen and (max-width: $size-xs){
	.search_block__inner{
		.search_form{
			padding: 0 1.6rem;
			width: 100%;
		}
	}
	.choose_search_cat{
		max-width: 328px;
	}
	.search_field{
		max-width: 240px;
	}
	.search_block_img{
		display: none;
	}	
}

@media screen and (max-width: 620px) {
	.iframe_wrapper{
		padding: 2rem 0rem;
		&__game{
			position: relative;
			height: 500px;
			padding-bottom: 0;
		}
	}
	.separator{
		width: 100%;
	}
}
@media screen and (max-width: $size-md) {
	.search_header_cnt{
		&__item{
			-webkit-box-flex: 1;
			-ms-flex: 1 0 100%;
			flex: 1 0 100%;
		}
	}
	
}
@media screen and (min-width: 1021px) and (max-width: 1550px) {
	.iframe_wrapper{
		padding: 2rem 4rem;
	}
}
@media screen and (min-width: 621px) and (max-width: 1020px) {
	.iframe_wrapper{
		padding: 2rem;
	}
}
@media screen and (min-width: $size-xl){
	.thumbnail_cnt{
		.game_info{
			.card{
				&__header{
					font-size: 0.7em;
				}
			}
		}
	}
}
@media screen and (min-width: 1620px) {
	.single_post__info{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column wrap;
		flex-flow: column wrap;
		position: absolute;
		top:0;
		right: calc( 100% + 1rem );
		align-items: center;
		.game_types_cnt_single{
			display: block;
			margin: 0.5rem 0;
			width: 62px;
			&__inner{
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-flow: column wrap;
				flex-flow: column wrap;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				.single_post_type_icon{
					display: block;
					-webkit-box-flex: 1;
					-ms-flex: 1;
					flex: 1;
					-ms-flex-preferred-size: 30px;
					flex-basis: 30px;
				}
			}
		}
		.single_views{
			width: auto;
		}	
	}
	.thumbnail_cnt{
		.game_info{
			.card{
				&__header{
					font-size: 0.83em;
				}
			}
		}
	}
	
}