.site_header_cnt{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
}
.site_header_cnt__site_header{
    height: 62px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main_site_logo{
    >img{
        width: 100%;
        max-height: 46px;
        width: auto;
        vertical-align: middle;
    }
}

/*top menu start*/
.search_trigger{
    a{
        text-decoration: none;
        transition: color 0.2s linear;
        &:hover{
            color: $red !important;
        }
    }  
}
.nav{
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    font-size: 0.9rem;
    &__inner{
        a{
            color: $cus_white;
            font-weight: 900;
            transition: color .44s linear;
            &:visited{
                color: $cus_white_2; 
            }
        }
    }
    .menu_search_icon{
        vertical-align: unset;
        font-size: inherit;
    }
}
.top_bar_background{
    height: 62px;
    margin: 0.8rem 0;
    margin-bottom: 0;
    transition: background-color 0.6s linear;
    border-radius: $unit-o;
    &--bg{
        background-color: rgba($cus_white, 0.94);
        a{
            color: $one;
            &:visited{
                color: $one;
            }
        }
    }
}
.nav_one{
    justify-content: center;
}
.top_menu_one, .top_menu_two{
    list-style: none;
    padding: 0;
}
.top_menu_one>li, .top_menu_two>li{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-left: 32px;
}
.top_menu_one>li{
    padding-right: 32px;
    padding-left: 0;
    &:last-of-type{
        padding-right: 0;
    }
}
.top_menu>li:last-of-type{
    padding-right: 24px;
}

@media screen and (max-width: 1366px) {
    .nav{
        font-size: 0.8rem;
        .menu_search_icon{
            font-size: inherit;
        }
        &__inner{
            ul{
                list-style-position: inside;
                margin: 0;
            }
        }
    }
    .top_menu>li{
        padding-left: 1rem;
    }
    .top_menu>li:last-of-type{
        padding-right: 0;
    }
}

@media screen and (max-width: 1120px) {
    .nav{
        font-size: 0.7rem;
    }
    .main_site_header{
        font-size: 1rem;
        white-space: nowrap;
    }
}

@media screen and (max-width: 900px) {
    .main_site_header{
        font-size: 1.2rem;
    }
    .nav_one{
        justify-content: flex-end;
    }
    .top_menu>li{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 620px) {
    .main_site_header{
        font-size: 1rem;
    }
    .top_menu>li{
        padding-left: 0.5rem;
        font-size: 0.7rem;
    }
}
