@import "fonts";

@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

@import "./spectre-0.5.8/variables";
@import "./spectre-0.5.8/src/mixins";

@import "./spectre-0.5.8/src/normalize";
@import "./spectre-0.5.8/src/base";
@import "./spectre-0.5.8/src/layout";
@import "./spectre-0.5.8/src/badges";
@import "./spectre-0.5.8/src/utilities/position";
@import "./spectre-0.5.8/src/utilities/display";
@import "./spectre-0.5.8/src/utilities/loading";
@import "./spectre-0.5.8/src/forms";
@import "./spectre-0.5.8/src/buttons";
@import "./spectre-0.5.8/src/toasts";


$timing_f: cubic-bezier(0.445, 0.050, 0.550, 0.950);
$red: #ef594b;
$dark_red: #d2414f;
$one: #07122E;
$two: #35D1E9;
$three: #00aac4;
$one_dark:  #030916;
$cus_gray: #4A4A4A;
$yellow: #edad00;
$dark_yellow: #bda023;
$cus_white: rgb(255, 255, 255);
$cus_white_2: #fafafa;


@import "mobile-menu";
@import "header";
@import "general";
@import "footer";





