.mobile_menu_wrapper{
	display: none;
	visibility: hidden;
	pointer-events: none;
}
.mobile_menu_wrapper .mobile_menu_cnt__inner.hidden{
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}
.mobile_menu_wrapper .mobile_menu_cnt.hidden{
	opacity: 0;
	pointer-events: none;
}

@media screen and (min-width: 901px) {
	.nav{
		&__mobile_site_header{
			display: none;
		}
	}
	.mobile_menu_cnt.hidden{
		visibility: hidden;
	}
}
@media screen and (max-width:  900px) {
	.nav{
		&__mobile_site_header{
			display: block;
			margin: 0;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
		}
	}
	.wrap{
		overflow: scroll;
	}
	.mobile_menu_wrapper{
		display: block;
		visibility: visible;
		pointer-events: auto;
	}
	.mobile_menu_active{
		overflow: hidden;
    	left: 0;
    	right: 0;
    	bottom: 0;
    	top: 0;
    	overflow-y: scroll !important;
		.overflow{
			-webkit-filter: blur(8px);
			filter: blur(8px);
		}
		.mobile_menu_wrapper{
			display: block;
		}
	}
	.mobile_menu_wrapper{
		.menu_content{
			padding: 1.6rem;
			height: 100%;
			min-height: 660px;
			background-image: url(../assets/bot_menu.png);
			background-position: center bottom;
			background-repeat: no-repeat;
			background-size: contain;
			>h1{
			 	padding: 0.9rem;
				margin-top: 0;
				margin-bottom: 0;
				font-weight: normal;
				color: $one;
				text-align: center;
			}
		}
		.mobile_menu_cnt{
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(0,0,0,0.75);
	    	z-index: 400;
	    	opacity: 1;
	    	-webkit-transition: opacity 0.2s linear;
	    	-o-transition: opacity 0.2s linear;
	    	transition: opacity 0.2s linear;
	    	pointer-events: auto;
	    	visibility: visible;
	    	max-height: 100vh;
	    	-webkit-backdrop-filter: blur(8px);
    		backdrop-filter: none;
			&__inner{
				z-index: 500;
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;
				width: 400px;
				display: block;
				-webkit-transition: -webkit-transform 0.4s ease-in-out;
				transition: -webkit-transform 0.4s ease-in-out;
				-o-transition: transform 0.4s ease-in-out;
				transition: transform 0.4s ease-in-out;
				transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
				background-color: $three;
                overflow-y: auto; 
                text-align: center;
			}
		}
		.mobile_menu_cnt.transition_delay{
			-webkit-transition-delay: 0.2s;
			-o-transition-delay: 0.2s;
			transition-delay: 0.2s;
		}
		.mobile_menu_list_cnt{
			margin-top: 1.6rem;
		 	padding: 0.9rem;
		 	height: calc(100% - (74px + 1.6rem + 78px + 1.6rem));
			&__mobile_list{
				list-style: none;
				padding: 0;
				margin-bottom: 0;
				margin-top: 0;
				list-style: none;
				padding: 0;
				>li{
					margin: 0.9rem 0;
					&:first-of-type{
						margin-top: 0;
					}
					>a{
						font-weight: 900;
						color: $one;
					}
				}
			}
		}
	}
	.close_menu_cnt{
		margin-bottom: 1.6rem;
	 	padding: 0.9rem;
	 	text-align: center;
	}
}
@media screen and (max-width: 480px) {
	.mobile_menu_wrapper{
		.mobile_menu_cnt{
			&__inner{
				width: 100%;
			}
		}
	}
}